.menu select { 
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: beige;
}
iframe {
    width: 70%;
    height: 70vh;
    border: 1px solid #ccc;
}