body { 
    font-family: Arial, sans-serif; 
    display: flex; 
    background-color: beige;
}
.sidebar {
    width: 195px;
    background: #f4f4f4;
    color: white;
    position: fixed;
    height: 100vh;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    left: -250px;
    transition: left 0.3s ease-in-out;
}
.sidebar.active {
    left: 0;
}
.sidebar h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin: 15px 0;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background: #34495e;
    border-radius: 5px;
}
.sidebar ul li a:hover {
    background: #1abc9c;
}
.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 20px;
    background: #34495e;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.sidebar-toggle:hover {
    background: #1abc9c;
}
.container {
    width: calc(100% - 220px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 220px;
    justify-content: space-evenly;
    animation: fadeIn 1s ease-in-out;
}
.item { 
    width: calc(25% - 30px);
    text-align: center; 
    box-sizing: border-box;
    padding: 10px;
}
img {
    max-width: 90%; 
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    border: 3px solid #ccc; 
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}
.full-image {
    max-width: 1000px;
    max-height: 1000px; 
    width: auto; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}
img:hover { 
    transform: scale(1.1);
    border-color: #000; 
}
h2 {
    margin-bottom: 37px;
}
p {
    margin-top: 42px;
    margin-bottom: 10px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.item img {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.item:hover img {
    transform: scale(1.1);
}
.sidebar {
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.sidebar select:hover {
    background-color: #e0e0e0;
}